<h2 mat-dialog-title>Aviso Legal</h2>
<mat-dialog-content class="mat-typography">
  <h3>Debe leer este aviso ante de enviar sus datos</h3>
  <p>Al completar y enviar sus datos usted confirma que la información proporcionada es válida y tiene las
      pruebas correspondientes para poder sustentarlo. Puesto que, para el proceso será necesario validar cierta información.
  </p>

  <h3>Debe tener en claro lo siguiente antes de postular por una mascota...</h3>
  <p>Una mascota necesitará del cuidado y la dedicación de su dueño, sin que esto signifique esclavizarlo. 
      Diego Jesús Vergara, psicólogo canino, piensa que muchas personas se olvidan de que son seres vivos.</p>

  <h3>Recursos necesarios para mantenerlo</h3>
  <p>A esto se suman las visitas al veterinario para vacunas, desparasitaciones, aseo e, incluso, educación. 
      Estos gastos pueden llegar a más de USD 1000 al año.</p>

  <h3>Seguimiento de la mascota adoptada</h3>
  <p>Una vez que la mascota está con su nueva familia el proceso no termina. Los nuevos dueños deberán estar de 
      acuerdo con que la fundación realice un seguimiento del caso para verificar que el animal está en buen estado.</p>

  <h3>Compromiso de esterilización</h3>

  <p>En el caso de animales mayores a los seis meses, las fundaciones entregan las mascotas ya esterilizadas. 
      “Es para prevenir que se reproduzcan y los cachorros vayan a las calles”, dice Ramírez. 
      Así también se controla la población y se evita un problema común.</p>

  <h3>EL ADOPTANTE SE COMPROMETE, MEDIANTE LA FIRMA DE ESTE CONTRATO A:</h3>

  <p>1. Ofrecer los cuidados que necesite al animal, alimentarlo, sacarlo de paseo, llevarlo a hacer sus necesidades fuera del lugar de descanso
    y vivienda habitual, darle cobijo y tratarlo con respeto y cariño.</p>

  <p>2. Llevar un control sanitario, visitando a su veterinario para vacunaciones, desparasitaciones y por cualquier enfermedad que se le
    origine</p>

  <p>3. No dejar libremente a la mascota por la vía pública, parque o campo, sin supervisión del propietario y siempre cogido con correa</p>

  <p>4. Si es la primera vez que está al cargo de un animal, procurará informase lo mejor posible de los principios básicos a tener en cuenta
    para ofrecerle una vida digna.</p>

  <p>5. Nunca debe desatenderlo, hacerlo pelear o trabajar, ni criar con él.</p>

  <p>6. No debe abandonarlo, regalarlo, cederlo, venderlo, o sacrificarlo sin justificación veterinaria por enfermedad muy grave que lo obligue
    y sin previa autorización escrita del representante de la adopción.</p>

  <p>7. No realizará amputaciones de ningún tipo por motivos estéticos. Nunca debe pegarle, humillarle ni utilizarle con fines económicos.</p>

  <p>8. Es obligación del adoptante informar al representante de la adopción de cualquier cambio de domicilio que se produzca, de teléfono, o
    e-mail, defunción o pérdida del animal.</p>

  <h3><b>EL ADOPTANTE DECLARA:</b> Estar conforme con las condiciones de adopción. Que las personas que viven en su domicilio, donde
    vivirá el animal adoptado, han sido informados previamente de su deseo de adoptar al mismo, todos están de acuerdo en
    colaborar y cumplir las condiciones del contrato como ADOPTANTES. - Haber sido informado previamente del estado de salud,
    edad, carácter y características físicas del animal adoptado, y que esta adopción no responde a un impulso, sino a un acto
    meditado.</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!--<button mat-button mat-dialog-close>Cancel</button>-->
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>

